type: "SNIPPET_NOTE"
folder: "9fb83e79d395466828ff"
title: "LinuxDirectory"
description: "LinuxDirectory"
snippets: [
  {
    name: "LinuxLinux.cs"
    mode: "C#"
    content: '''
      //bin
      一般ユーザーおよび管理者ユーザーの両方が利用するコマンドの実行ファイルを置くためのディレクトリ
      Linuxシステムの動作に最低限必要な、重要度の高いコマンドを格納しています
      
      //dev
      デバイスファイルを格納するディレクトリ
      
      //etc
      設定ファイルを置くためのディレクトリ
      Linuxで動作する様々なアプリケーションの設定のために、通常はテキスト形式の設定ファイル
      (ConfigFile)が使用されていて、それらの設定ファイルはこのディレクトリに置かれている。
      Linuxを管理・運用する上で非常に重要なディレクトリです
      
      //home
      ユーザ毎に割り当てられてる、ホームディレクトリが配置されるディレクトリ
      
      //sbin
      /binと似ていて実行ファイルを置くためのディレクトリ。
      ただし、これは管理者ユーザ向けのコマンドが置かれている。
      
      //tmp
      一時的なファイル(TemporaryFile)を置くためのディレクトリ。
      作業途中の結果などを一時的にファイルとして保存する際には、このディレクトリの下に
      作成するのが一般的です。
      ディレクトリ内のファイルは定期的に削除する設定になっているディストリビューションも多い
      
      //usr
      各種アプリケーションとそれに付随するファイルを置くためのディレクトリです。
      
      //var
      変化する(variable)データを置くためのディレクトリです。
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-11T07:00:26.817Z"
updatedAt: "2017-09-11T08:32:36.565Z"
