createdAt: "2018-03-13T13:43:31.392Z"
updatedAt: "2018-03-22T07:13:04.136Z"
type: "SNIPPET_NOTE"
folder: "5202b1c383243659e92c"
title: "LaravelView"
description: "LaravelView"
snippets: [
  {
    name: "laravelView.py"
    mode: "Python"
    content: '''
      # @section @endsection
      blade.phpでは@sectionから@endsectionの間に書かれた記述をviewとして表示します。
      
      # @extends
      1行目に@extendsと記述されています。これは引数に与えたblade.phpファイルの中に
      @sectionから@endsectionまでの記述を埋め込むことを意味しています。
      @extendsを使うことでヘッダーやフッターなどの、
      ページが変わっても共通して使う部分を何度も記述する必要がなくなります。
      
      
      # @include('common.error')
      blade.phpのhtmlファイル内でcommonフォルダのerror.blade.phpファイルを読み込む
      部分テンプレート
      
      # @extends('layouts.レイアウトファイル名')
      各bladeビューファイルに@extends('レイアウトファイル名')とすると、
      そのビューファイル内で利用するレイアウトファイルを指定(継承)できます。
      layouts.となっているのはlayoutsディレクトリの中のレイアウトファイルを指定するという
      意味になります。必ずしもlayoutsディレクトリの中に格納する必要はありません。また、
      本アプリケーションではlayoutsディレクトリの中に入れておりません。
      
      
      # View::shareメソッド
      View::shareメソッドはViewファサードに定義されているメソッドで、
      全てのビューで共通のデータを共有することが出来ます。以下のようにビューにデータを渡します。
      
      View::share('ビュー内で使う変数名', ビューに渡すデータ)
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
