createdAt: "2018-03-11T11:25:41.700Z"
updatedAt: "2018-03-11T11:26:38.632Z"
type: "SNIPPET_NOTE"
folder: "ea77b093ffd39c8e29de"
title: "DjangoTemplate"
description: "DjangoTemplate"
snippets: [
  {
    name: "DjangoTemplate.py"
    mode: "Python"
    content: '''
      # Template Engineは2タイプ
      ・Django純正
      ・jinja2
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
