type: "SNIPPET_NOTE"
folder: "f2a0c68525cd18b96288"
title: "RailsEnvironment"
description: "RailsEnvironment"
snippets: [
  {
    name: "Environment.rb"
    mode: "Ruby"
    content: '''
      #Homebrew
      Mac OS上でのソフトウェア管理を行うソフトウェアのことです。
      これを使うことで、インターネット上から便利なアプリケーションを簡単にインストールしたり、
      そのバージョン管理をすることができます。
      これからいくつかのアプリケーションをインストールするのですが、
      その管理のためにHomebrewをインストールします。
      
      
      #rbenvとruby-buildについて
      Rubyのバージョンを管理する際に組み合わせて使います。
      ruby-buildによってRubyの様々なバージョン(2.0.0など)をインストールすることができます。
      rbenvを使用することでrubyのバージョンを切り替えることできます。
      なぜバージョンを切り替える必要があるのかというと、
      開発環境によってはRubyの特定のバージョンでなければエラーが出てしまうことがあるためです。
      
      
      #パスを通すとは
      本来アプリケーションを利用するためにはそのアプリケーションの存在する
      ディレクトリまで移動しなくてはいけません。
      しかし、設定ファイルにコードを書き設定することで、どのディレクトリからもアプリケーションを
      呼び出せるようになります。
      このことを「パスを通す」と言います
      
      
      #なぜ新たにRubyをインストールするのか
      Macに最初から入っているRubyは、先ほどインストールしたrbenvでのバージョン管理ができません。
      そのため、ruby-buildとrbenvを組み合わせてバージョン管理のできるRubyを
      インストールする必要があります。
      
      
      #rbenv global コマンド
      rbenv global コマンドは、そのPCの全ての開発環境で利用するRubyのバージョンを
      決めることができます。
      
      
      #MySQL
      MySQLとは、データを保存するデーターベースサーバーの一種です。
      Ruby on Railsで作るアプリケーションで使用するデータを保存するために利用します。
      
      
      #gem
      gem(ジェム)とは、Rubyを便利に扱うためのアプリケーションの総称です。
      ターミナルからそれぞれのgemが持つコマンドを実行するという形で使用します。
      
      
      #bundler
      bundlerとはgemのバージョン管理などをしてくれるgemです。
      環境ごとに使用するgemを決めたり、gemのバージョンを指定したりできます。
      
      
      #gem install railsコマンド
      Ruby on Rails(以下、Rails)に付随する様々なgemをインストールするためのコマンドです。Railsも、実はRubyのgemの一つです。上記のようなgemコマンドでインストールすることができます。実行すると、railsとそれに付随する様々なgemがインストールされていきます。
      
      
      #rehashは何をしているのか
      
      gemは、各Rubyのバージョンごとに個別に保管されます。
      
      rbenv rehashコマンドは、そのバージョンで利用しているgemのコマンドを使えるようにするために
      必要なコマンドです。
      gemコマンドでgemをインストールしたときは、rbenv rehashコマンドを実行するのを
      忘れないようにしましょう。
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-13T03:41:21.873Z"
updatedAt: "2018-03-14T06:00:58.567Z"
