type: "SNIPPET_NOTE"
folder: "9fb83e79d395466828ff"
title: "General"
description: "General"
snippets: [
  {
    name: "General.rb"
    mode: "Ruby"
    content: '''
      #linux(リナックス)コマンド
      ターミナルはパソコンの中身の部分を操作できるシステムです。linuxコマンドとはターミナル内で使用できるコマンドのことを指します。新しくディレクトリを作成する時などに使用します。たくさんの種類があるので、全て覚えるのではなく必要に応じて使用しましょう。
      
      #cd    
      現在のディレクトリ（カレントディレクトリ）を移動する
      
      #mkdir
      新しくディレクトリを作成する
      $ mkdir [option] <directoryName>
      
      #pwd
      
      現在のディレクトリ(カレントディレクトリ)のパスを表示する
      
      #ls		  
      現在のディレクトリ(カレントディレクトリ)のファイル一覧を表示する
      
      
      #Ctrl + b(Backward)
      カーソルの後退(←)
      
      #Ctrl + f(Forward)
      カーソルの前進(→)
      
      #Ctrl + a
      行頭にカーソルを移動
      
      #/Ctrl + e
      行末にカーソルを移動
      
      #Meta + b(Alt + b)
      後方に単語１つぶん移動する
      
      #Meta + f(Alt + f)
      全法に単語１つぶん移動する
      
      #Ctrl + h
      カーソル位置の後方に１文字削除する
      
      #Ctrl + d
      カーソル位置の前方に一文字削除する
      
      #Ctrl + w
      後方にスペース区切りで１単語分削除する
      
      #Ctrl + k(カット)
      カーソル位置から行末まで削除(切り取り)
      
      #Ctrl + u(カット)
      カーソル位置から行頭までを削除する(切り取り)
      
      #Ctrl + y(ヤンク)
      最後に削除した内容を挿入する
      
      #Ctrl + s
      画面表示をロックする
      
      #Ctrl + q
      画面表示のロックを解除する
      
      #Ctrl + c
      ・実行中のコマンドを強制終了させる
      ・現在の入力内容を破棄して新しいコマンドラインに移る
      コマンドが終了せずプロンプトが返ってこない時
      
      #Ctrl + l
      画面に表示してる内容を全て消して、カーソル位置を画面左上に移動させる
      
      #Ctrl + p(previous)
      １つ前のコマンド履歴に移動する
      
      #Ctrl + n(next)
      次のコマンド履歴へ移動する
      
      #Ctrl + r
      履歴を遡ってインクリメンタル検索する
      1 文字入力  : 検索語を追加して再検索 
      2 Ctrl + r : １つ前の検索結果へ移動
      3 Enterキー : 現在の検索結果を実行
      4 Escキー   : 現在の検索結果を表示したままコマンドラインに戻る
      
      //.
      カレントディレクトリ
      
      //..
      親ディレクトリ
      ../../../..とすれば４つ上のディレクトリを指す
      
      #Ubuntuの場合直接ログインできない
      Ubuntuを利用している場合、デフォルトではrootで直接ログインすることができません。
      root権限を利用するためのコマンド、sudoコマンドを利用してshutdownコマンドを実行する
      $ sudo shutdown -h now
      
      
      #linuxのコマンドのファイル
      例えばcatコマンドは/bin/catというファイルがある
      
      #テキストファイル
      テキストが書かれたファイル
      
      #バイナリファイル
      画像ファイルや音声ファイル、Linuxコマンドの実行ファイルなど。
      
      
      
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-13T03:36:18.502Z"
updatedAt: "2017-09-13T21:40:56.776Z"
