createdAt: "2018-01-13T06:06:42.353Z"
updatedAt: "2018-01-13T06:08:29.221Z"
type: "SNIPPET_NOTE"
folder: "5c21c34ed317a94d49a2"
title: "PythonModules"
description: "PythonModules"
snippets: [
  {
    name: "pythonModules.py"
    mode: "Python"
    content: '''
      # __init__.py
      __all__ = ['同じディレクトリのファイル名(拡張子なし)']で
      from ディレクトリ import *で
      __all__に定義されているライブラリを全て呼び出せる
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
