createdAt: "2018-02-25T11:30:21.654Z"
updatedAt: "2018-07-12T12:52:39.265Z"
type: "SNIPPET_NOTE"
folder: "d155fa926dc4390a93fa"
title: "BootStrap"
description: "BootStrap"
snippets: [
  {
    name: "bootStrap.html"
    mode: "HTML"
    content: '''
      <div class="row">
        <div class="col-sm-6">
          <h1>ご利用アンケート</h1>
        </div>
        <div class="col-sm-6">
          <a href="/">Homeへ戻る</a>
        </div>
      </div>
      
      col-sm-は計12になるように設定して
      
      
      <!--CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
      <!--JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
