createdAt: "2018-06-12T09:04:21.951Z"
updatedAt: "2018-06-12T09:08:38.173Z"
type: "SNIPPET_NOTE"
folder: "8f41a1c53d82040dd608"
title: "RubyTest"
description: "RubyTest"
snippets: [
  {
    name: "minitest.rb"
    mode: "Ruby"
    content: '''
      gem install minitest -v 5.10.1
      
      
      # テストコードの雛形
      require 'minitest/autorun'
      
      class SampleTest < Minitest::Test
        def test_sample
          assert_equal 'RUBY', 'ruby'.upcase
        end
      end
      
      
      # メソッド名はtest_とつける
      
      
      # assert_equal 期待する結果, テスト対象となる値や式 
        # aがbと等しければパス
        assert_equal b, a
      
        # aが真であればパス
        assert a
      
        # aが偽であればパス
        refute a
      
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
