createdAt: "2018-03-24T11:48:58.908Z"
updatedAt: "2018-04-17T07:32:36.616Z"
type: "SNIPPET_NOTE"
folder: "5c21c34ed317a94d49a2"
title: "PythonTuple"
description: "PythonTuple"
snippets: [
  {
    name: "PythonTuple.py"
    mode: "Python"
    content: '''
      
      #タプル
      リストとほとんど似ているが、一度定義した内容を変更できない特徴がある
      a = (2012,2013,2014)
      a[1] = 2015
      print a #エラーが発生する
      
      "注意点"
      t = 1,
      と打ち込むと自動的にタプルになるので
      t = 1
      とint型を入れたいのに間違えてカンマをつけて
      n = ()
      とやると自動的にタプルになるがその後に
      n = 1
      とやるとnはint型にキャストされる
      
      "タプルのアンパッキング"
      num_tuple = (10,20)
      x, y = num_tuple
      これでx = 10, y = 20となる
      
      "タプルの使い方"
      質問投げかけて、答えを入力してもらうアプリなどを使う時には
      質問をタプルで、答えを配列で管理してあげる。
      タプルに.append()は使えないので、こんがらがったり、間違いを防げる。
       
        
      "タプルの中にリスト"
      t = ([1,2,3],[4,5,6])
      
      ",を入れるとタプルになる"
      t = 1,2,3
      上記の式もタプルとなる
      t = (1,) + (2,3,4)
      (1,)の,を忘れると(1)はint型に暗黙的に型変換される 
      
      
      # tmpアルゴリズムを簡略できる
      tmp = i
      i = j
      j = tmp
      print(i, j)
      
      
      a = 100
      b = 200
      
      a, b = b, a
      print(a, b)
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
