createdAt: "2018-07-14T07:35:09.488Z"
updatedAt: "2018-07-14T07:35:50.682Z"
type: "SNIPPET_NOTE"
folder: "f17d0e91573b688dc1fb"
title: "Vue-model"
description: "Vue-model"
snippets: [
  {
    name: "v-model.html"
    mode: "HTML"
    content: '''
      <!DOCTYPE html>
      <html lang="ja">
      <head>
        <meta charset="UTF-8">
        <title></title>
      </head>
      <body>
        <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
        <script type="text/javascript" src="../js/style.js"></script>
      
        <div id="app">
          <input type="text" v-model="name">
          <p> {{ name }} </p>
        </div>
      
      </body>
      </html>
    '''
  }
  {
    name: "v-model.js"
    mode: "JavaScript"
    content: '''
      window.onload = function(){
        new Vue({
          el:'#app',
          data: {
            name: "Max"
          }
        });
      }
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
