createdAt: "2018-07-18T05:12:05.116Z"
updatedAt: "2018-07-18T05:36:04.430Z"
type: "SNIPPET_NOTE"
folder: "5c21c34ed317a94d49a2"
title: "Vue-Option/data"
description: "Vue-Option/data"
snippets: [
  {
    name: "option-data.js"
    mode: "JavaScript"
    content: '''
      # watch
      
      詳細:
      
      キーが監視する評価式で、値が対応するコールバックをもつオブジェクトです。
      値はメソッド名の文字列、または追加のオプションが含まれているオブジェクトを取ることが
      できます。Vue インスタンスはインスタンス化の際にオブジェクトの各エントリに
      対して$watch() を呼びます。
    '''
  }
  {
    name: "watch.js"
    mode: "JavaScript"
    content: '''
      window.onload = function(){
        new Vue({
          el:'#app',
          data: {
            counter: 0,
            secondCounter: 0
          },
          computed: {
            output: function(){
              return this.counter > 5 ? 'Greater than 5 ' : 'Smaller than 5';
            }
          },
          watch: {
            counter: function(value){
              var vm = this;
              setTimeout(function(){
                vm.counter = 0;
              }, 2000);
            }
          },
          methods: {
            result: function(){
              console.log('Method');
              return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
            }
          }
        });
      }
    '''
  }
  {
    name: "watch.html"
    mode: "HTML"
    content: '''
      <!DOCTYPE html>
      <html lang="ja">
      <head>
        <meta charset="UTF-8">
        <title></title>
      </head>
      <body>
        <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
        <script type="text/javascript" src="../js/style.js"></script>
      
        <div id="app">
          <button v-on:click="counter++">Increase</button>
          <button v-on:click="counter--">Decrease</button>
          <button v-on:click="secondCounter++">Increase Second</button>
          <p> Counter: {{ counter }} | {{ secondCounter }}</p>
          <p> Result: {{ result() }} | {{ output }}</p>
        </div>
      
      </body>
      </html>
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
