type: "SNIPPET_NOTE"
folder: "7cb7449b9a7bb5682bf5"
title: "SkinnedMeshRenderer"
description: "SkinnedMeshRenderer"
snippets: [
  {
    name: "SkinnedMeshRenderer.cs"
    mode: "C#"
    content: '''
      ##プロパティ()
      //Quality
      :スキン化を行うときに各頂点に使用されるボーンの最大数1,2,4,Autoの4項目から選択することが可能です。ボーンの数が多いほど描画の質が高くなります。具体的にはボーンの数を低くするとアニメーション中にテクスチャが伸びてしまい不格好な見た目になってしまうこともあるので注意しましょう。基本的にはAutoを選択しておけば、問題はないです。
      
      //UpdateWhenOffscreen
      :チェックをつけると、スキンメッシュが全くカメラに映っていなくてもアップデートされます。チェックを外すと、オブジェクトがカメラに映っていない場合はアニメーションの再生も停止します。処理を軽くしたいのであれば、無効にするのをおすすめします。
      
      //SkinnedMotionVectors
      :チェックをつけると、画面空間内のあるフレーム間で移動しても移動するメッシュを追跡することが可能になります。使用用途としては、一時的なアンチエイジングやモーションブラーなどのイメージエフェクトに使われます。
      
      //Mesh
      :MeshFileterと同様に設計図を指定することができます。
      
      //RootBone
      :アニメーションの"ルート（起点）"となるボーン（つまり、このボーンの動きは、他のすべてのボーンに影響を与えます）を定義します。アセットストアからインポートしたアセットに関しては最初から設定されていることが多いので設定を変更する必要は殆どの場合ないです。
      
      //Bounds
      :バウンディングボックス（AABB）について設定することが可能です。バウンディングボックスとはオブジェクトを囲むボックスです。値を変更することでキャラクターの衝突判定などが行われる範囲を設定することができます。centerではそのスキンのバウンディングボックスの中心座標をどこにするかを設定できます。extentsはバウンディングボックスの範囲を設定することができます。常にsizeの1/2倍になっています。
      
      //LightProbes
      :プローブに基づいたライティングの補完モードのことを指します。
      
      //ReflectionProbes
      :これが有効でリフレクションプローブがシーンに存在するとき、reflectionテクスチャがこのオブジェクトに選択され、ビルトインシェーダーの統一変数として設定されます。
      
      //AnchorOverride
      :ライトプローブやReflectionプローブのシステムを使用するときに、補完する位置を決めるためのTransformを設定します。
      
      //CastShadows
      :投影するライトがメッシュを照らしたとき、メッシュは影を生成します。その影に対するオプションを設定できます。Onにすると影が表示されて、Offにすると影が表示されなくなります。TwoSidedはメッシュのどちら側からでもライトが当たっているならば、影を表示してくれるようになります。ShadowsOnlyはメッシュは表示されなくなってそのメッシュの影だけが表示されるようになります。
      
      //ReceiveShadows
      :チェックをつけるとそのメッシュに他のメッシュの影が表示されるようになります。チェックを付けないとそのメッシュは他のメッシュの影が一切表示されません。
      
      //MotionVectors
      :有効にすると、メッシュはCameraのモーションベクターテクスチャにオブジェクトごとのモーションベクターをレンダリングします。
      
      //Materials
      :これを設定することによって、粘土でつくった人形みたいだったモデルに色や模様などを描画できるようになります。
    '''
  }
]
tags: []
isStarred: false
createdAt: "2017-07-27T13:21:40.818Z"
updatedAt: "2017-07-29T14:04:57.270Z"
