type: "SNIPPET_NOTE"
folder: "d510e689594eb44bbd51"
title: "Shortcut Key"
description: '''
  
  Shortcut Key
'''
snippets: [
  {
    name: "ShortcutKey.rb"
    mode: "Ruby"
    content: '''
      #General
      
      ⌘	「command」キー
      ⌃	「control」キー
      ⌥	「option」キー
      ⇧	「shift」キー
      ⇪	「caps lock」キー
      fn	ファンクションキー
      
      ⌘ + C	選択内容をクリップボードにコピー
      ⌘ + X	選択内容をクリップボードにコピーし、選択内容を削除する
      ⌘ + V	クリップボードの内容を貼り付ける
      ⌘ + Z	最後にした操作を取り消す
      ⌘ + S	変更を保存する
      ⌘ + W	最前面のウィンドウを閉じる
      ⌘ + tab	開いているアプリをリスト表示する（tabを複数回押すと切り替える)
      ⌘ + F1(※)	同一アプリの、別ウィンドウに切り替える
      ⌘ + F	画面内で文字列を検索する	
      ⌘ + T	新しいタブを開く	
      ⌘ + N	新しいウィンドウを開く
      ⌃ + A（入力時）	その行の先頭に移動する
      ⌃ + E（入力時）	その行の末端に移動する
      ⌃ + H（入力時）	前の文字を１つ消す（deleteと同じ）
      ⌃ + D（入力時）	次の文字を１つ消す	
      ⌃ + K（入力時）	カーソルの右側の文字を全て削除する	
      ⇧ + 上下左右（入力時）	文字を選択・選択範囲を変更する
      ⌘ + R	更新
      ⌘ + ⇧ + Z	直前に取り消した変更内容をやり直す（元に戻す）
      F11	デスクトップを表示	
      ⌘ + Q	最前面のアプリケーションを終了する
      ⌘ + +/-	画面の拡大/縮小	
      [⌘ + ⇧ + 3]　スクリーンショット(+⌃で保存無しでコピー)
      「Control」＋「Shift」＋「Eject ⏏」	すぐにディスプレイのみをスリープ
      「Command」＋「Option」＋「Eject ⏏」	すぐにスリープ
      「Command」＋「Control」＋「Eject ⏏」	アプリケーションを終了してから再起動
      「Command」＋「Control」＋「電源」ボタン	強制再起動（アプリケーションを保存せず）
      「Command」＋「Control」＋「Option」＋「Eject ⏏」アプリケーションを終了してシステム終了
      「電源」ボタン（長押し）	強制システム終了（アプリケーションを保存せず
      「Command」＋「Option」＋「Shift」＋「Esc」（長押し）	最前面のアプリケーションを強制終了
      「Control」＋「Option」でDockアイコンをクリック	強制終了のコンテキストメニューを表示
      
      
      
      #Finder
      
      ⌘ + ↓	フォルダを開く/ファイルを開く（リスト表示・カラム表示の場合、単に→と入力してもフォルダを開くことができます）
      ⌘ + ↑	一つ上の階層に行く（リスト表示・カラム表示の場合、単に←と入力しても上の階層に行くことができます）	
      Return	名前の変更	
      ⌘ + delete	ゴミ箱に捨てる	
      ⌘ + ⇧ + D	デスクトップに移動	
      ⌘ + ⌥ + L	ダウンロードフォルダに移動	
      
      
      
      #Terminal
      
      ↑	入力したコマンドの履歴を遡る
      （入力途中で）tab	入力補完
      ls	現在いるディレクトリのファイルを表示する
      cd XXX	現在いるディレクトリにある、XXXディレクトリに移動する
      cd ..	現在いるディレクトリの一つ上のディレクトリに移動する
      pwd	現在いるディレクトリを表示する>
      irb ターミナルから直接、Rubyのプログラムを動かすことができる機能
      「control + c」 強制終了  
      
      
      #SublimeText3
      ⌘ + O	ファイル/ディレクトリを開く	
      ⌘ + P	ディレクトリ内でファイル検索（ディレクトリを開いている時）
      ⌘ + K, ⌘ + B （続けて入力）	そのディレクトリのツリー構造を表示/非表示	（ディレクトリを開いている時）
      ⌘ + L	カーソルのある一行を選択（続けて押すと次の行を選択）	
      ⌘ + X	選択範囲を切り取り	
      ⌘ + D	カーソルにある単語/選択した文字列をファイル内で検索し、選択。複数回押すと複数選択でき、選択後になんらかの文字を入力することで一括編集できる。
      ⌘ + ⌃ + 上下	カーソル行/選択した行を、行ごと上下に移動する	
      ⌘ + ⇧ + D	カーソル行/選択した行を、行ごとコピーし下に貼り付ける（複製）	
      ⌘ + /	カーソル行/選択した行をコメントアウトする	
      
      
      
      #Chrome
      ⌘ + 左右	ページを戻る/進む	
      ⌘ + 上下	ページの最初/最後に移動	
      ⌘ + ⌥ + 左右	隣のタブに切り替える	
      ⌘ + ⌥ + I	要素の検証	
      ⌘ + L	アドレスバーに移動	
      ⌘ + ⇧ + T	最後に閉じたタブを開く	
      
      
      
      #Slack
      ⌘ + / ショートカット一覧
      
      
      #Terminal
      unityをTerminalから複数起動させる
      $ open -n /Applications/Unity/Unity.app
      
      フォルダーにパスワードつける。
      ターミナルを起動して「zipcloak」と入力し「半角スペース」を入れて、zipファイルをドロップします。
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-13T02:40:42.021Z"
updatedAt: "2017-09-25T09:13:12.923Z"
