createdAt: "2018-05-21T08:40:31.837Z"
updatedAt: "2018-05-21T08:47:01.024Z"
type: "SNIPPET_NOTE"
folder: "c7de755d4eba19dc5c05"
title: "GitTag"
description: "GitTag"
snippets: [
  {
    name: "gittag.py"
    mode: "Python"
    content: '''
      # $ git tag -a [タグ名] -m "[メッセージ]"
      ex $ git tag -a 20180521_01 -m "version 20180521_01"
      
      
      
      # 軽量番タグの作成
      $ git tag [タグ名]
      ex git tag 20180521_01
      
      
      # 後からタグ名をつける
      $ git tag [タグ名] [コミット名]
      git tag 20180521_01 8a6cbc4
      
      
      # タグのデータを表示する
      $ git show [タグ名]
      git show 20180521_01
      このタグと関連づけられたコミットを表示する
      
      
      
      # タグの一覧を表示
      git tag
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
