createdAt: "2018-06-28T08:10:25.096Z"
updatedAt: "2018-07-08T08:49:07.590Z"
type: "SNIPPET_NOTE"
folder: "65eddf1377d9280594ea"
title: "DockerHub"
description: "DockerHub"
snippets: [
  {
    name: "DockerHub.py"
    mode: "Python"
    content: '''
      #Docker Hubにログインする場合
      $ docker login
      
      
      #Quay.ioにログインする場合
      $ docker login quay.io
      
      
      # Docker hubに置けるタグづけルール
      <Docker ID>/<イメージ名>:<タグ名>   *タグ名は省略するとlatestタグとなる
        
        
      # Docker hubにPushする際のコマンド
      $ docker push <Docker ID>/<イメージ名>:<タグ名>
        
        
      # docker Hubからイメージをダウンロード
        docker pull [オプション] イメージ名[:タグ名]
        docker pull centos:7
        centOSのバージョン7をダウンロード
        -a : 全てのタグのイメージを取得 docker pull -a centos
        
        # Dockerイメージの名前
          <Docker Hubのユーザ名>/イメージ名:[タグ名]
        
        
        
      
        
        
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
