createdAt: "2018-03-06T10:23:12.734Z"
updatedAt: "2018-03-06T10:36:49.677Z"
type: "SNIPPET_NOTE"
folder: "ae869880fb7248601fce"
title: "mysqlSystem"
description: "mysqlSystem"
snippets: [
  {
    name: "mysqlSystem.rb"
    mode: "Ruby"
    content: '''
      # AND演算子
      AND演算子は複数の条件を指定して式を作り、その条件が全て正であるとき、式が正となります。
      例えば、以下のような式があったとき、条件aもbも正であれば、式は正になります。
      
      WHERE a AND b
      
      
      # OR演算子
      OR演算子は複数の条件を指定して式を作り、その条件のうちどれか1つ以上が正となれば、式は正となります。
      
      例えば以下のような式があったとき、条件aとbのどちらかが正であれば、式も正になります。
      
      WHERE a OR b
      
      
      # NOT演算子
      NOT演算子は1つの条件を指定して式を作り、式の正誤はその条件と逆のものになります。
      例えば以下のような式があったとき、条件aが誤となる（当てはまらない）レコードが取得出来ます。
      
      WHERE NOT a
      
      
      # BETWEEN演算子
      BETWEEN演算子は1つのカラムに対し上限と下限を指定して式を作り、
      カラムの値がその範囲に含まれるとき、その式は正になるという演算子です。
      
      WHERE カラム名 BETWEEN 下限 AND 上限
      
      
      # IN演算子
      IN演算子は1つのカラムに対しリストを指定して、カラムの値がそのリストに含まれるとき、
      その式は正になるという演算子です。
      
      WHERE カラム名 IN (値1, 値2, ……)
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
