createdAt: "2018-07-14T08:14:32.718Z"
updatedAt: "2018-07-14T08:17:16.097Z"
type: "SNIPPET_NOTE"
folder: "f17d0e91573b688dc1fb"
title: "Vue-property"
description: "Vue-property"
snippets: [
  {
    name: "property.html"
    mode: "HTML"
    content: '''
      <!DOCTYPE html>
      <html lang="ja">
      <head>
        <meta charset="UTF-8">
        <title></title>
      </head>
      <body>
        <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
        <script type="text/javascript" src="../js/style.js"></script>
      
        <div id="app">
          <button v-on:click="counter++">Increase</button>
          <button v-on:click="counter--">Decrease</button>
          <button v-on:click="secondCounter++">Increase Second</button>
          <p> Counter: {{ counter }} | {{ secondCounter }}</p>
          <p> Result: {{ result() }} | {{ output }}</p>
        </div>
      
      </body>
      </html>
    '''
  }
  {
    name: "property.js"
    mode: "JavaScript"
    content: '''
      window.onload = function(){
        new Vue({
          el:'#app',
          data: {
            counter: 0,
            secondCounter: 0
          },
          computed: {
            output: function(){
              return this.counter > 5 ? 'Greater than 5 ' : 'Smaller than 5';
            }
          },
          methods: {
            result: function(){
              console.log('Method');
              return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
            }
          }
        });
      }
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
