type: "SNIPPET_NOTE"
folder: "4d7e758b4f010b205cc7"
title: "C#SOLID_OCP"
description: "C#SOLID_OCP"
snippets: [
  {
    name: "C#SOLID_OCP.cs"
    mode: "C#"
    content: '''
      //OpenClosed原則
      ソフトウェアの設計をより良くするための基本的な思想です。
      この思想は、以下の2項目により成り立ちます。
      
      "拡張に対して開いていなければならない"
      
      これは以下の2つを満たしているものを言います。
      ・手軽に機能追加をできる
      ・拡張する際に最低限必要なメソッドが公開されている
      つまり機能を修正する際、元々書かれているコードを編集する必要がない状態が
      理想とされます。
      
      "修正に対して閉じていなければならない"
      
      これは以下の2つを満たしているものを言います。
      ・該当箇所を変更するだけで修正することができる
      ・修正してもその修正が外に広がらない
      基本的に修正はバグの温床です。そのため、
      この原則にあるようにできるだけ修正箇所を減らす必要があるのです。
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-04T09:02:28.538Z"
updatedAt: "2017-11-04T09:36:32.823Z"
